name: CSharp Code Convention

on:
  push:
    branches: [ laboratory-work-4-v2 ]
  pull_request:
    branches: [ laboratory-work-4-v2 ]

jobs:
  csharp-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '7.0.x'

      - name: Restore & check coding style
        run: |
          dotnet restore "2-SoftwareDesign/2.6-GitHubActions"
          dotnet tool update -g dotnet-format
          dotnet-format "2-SoftwareDesign/2.6-GitHubActions" --verify-no-changes
