name: SQL Code Convention Check

on:
  push:
    branches: [ main, laboratory-work-4, laboratory-work-4-v2 ]
  pull_request:
    branches: [ main ]

jobs:
  sql-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install SQLFluff
        run: pip install sqlfluff
      - name: Run SQL lint
        run: sqlfluff lint $GITHUB_WORKSPACE/DataSchema.sql --dialect postgres

