name: Print Software Versions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-software-versions:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Check .NET SDK version
        run: dotnet --version

      - name: Install PostgreSQL client
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Check PostgreSQL version
        run: psql --version
