name: CSharp Code Convention

on:
  push:
    branches: [ laboratory-work-4-v2 ]
  pull_request:
    branches: [ laboratory-work-4-v2 ]

jobs:
  check-csharp-code-style:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dotnet-format
        run: dotnet tool install -g dotnet-format

      - name: Run dotnet-format
        run: dotnet-format ./SmartLightMusicLab4.csproj --verify-no-changes
